header {
	background: white;
	height:70px;
	width:100%;
	border-bottom: 1px solid #CCCCCC;
	background-image: url("../images/logo.png");
    background-repeat: no-repeat;
}


/* ------------- MediaQuerys ---------------*/


@media (max-width: 1024px){
	header{
		display: inline-block;
	}
}